{% extends 'base.html' %}
{% block title %}Lista Produse{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    Sunteti sigur ca dori sa stergeti produsul {{ product.name }} ???
    <button type="submit">Sterge</button>

</form>


{% endblock %}