{% extends 'base.html' %}
{% block title %}Lista Produse{% endblock %}

{% block content %}
<style>
    a {
        color:yellow;
    }
</style>
<a href="{% url 'product_create' %}">Create</a>

{% for category in categories %}
<div style="color: white;">
    {{ category.name }} <br>
        {% for product in category.category.all %}
        <span style="color: red;">{{ product.name}} </span>
        <a href="{% url 'product_update' product.pk %}">Update</a>
        <a href="{% url 'product_delete' product.pk %}">Delete</a>
        <br>
        {% endfor %}
</div>
{% endfor %}
{% endblock %}
