{% extends 'base.html' %}
{% block title %}Creaza Produs{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Creaza/Reimprospateaza</button>
</form>


{% endblock %}